
<nav class = "navbar">
    
    <div class="nav-left">
        <a routerLink="/home"><i class="fa fa-fw fa-home"></i>Home</a>
        <a routerLink="/about"><i class="fas fa-info-circle"></i>About</a>
        <a routerLink="/contact"><i class="fa fa-fw fa-envelope"></i>Contact</a>
    </div>


    <div> 
     <button class = "search-btn"><i class="fas fa-search"></i></button>
    <input type="text" placeholder="search" class="search-bar">
   </div>
 

    <div class="nav-right">
        <button routerLink = "/login" type="button" ><i class="fa fa-fw fa-user"></i> login</button>
        <button routerLink = "/signup" type="button"><i class="fas fa-pen"></i> signup</button>
    </div>
    
</nav>