
<div class = "container">
    <h2>Signup</h2>
    <div>
        <form [formGroup] = "signUpForm" (ngSummit) = "signup()">
            <label for="Username"> Username : </label>
            <input type="text" for="Username" name = "Username"> <br>

            <label for="Email">Email : </label>
            <input type="text" for = "Email" name = "Email"> <br>

            <label for="Password">Password : </label>
            <input type="password" for = "Password" name = "Password"> <br>

            <label for="ConfirmPassword">Confirm Password : </label>
            <input type="password" for = "ConfirmPassword" name = "ConfirmPassword"> <br>

             <button type="submit">submit</button> <br>

        </form>
        
    </div> <br>

    <div>
         <p>Already have an accout? </p>   <br> 
         <button type="button" routerLink="/login"> login</button>
    </div>
   
</div>