h4{
    color: whitesmoke;
}

button{
    font-style: oblique;
    padding: 12px;
     background-color: cadetblue;
     width: 45px;
   
    color: black;
    border-radius: 10px;
}

button:hover{
    color: whitesmoke;
    background-color: blue;
    cursor: pointer;
    
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(8px);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    color: whitesmoke;
}
