<h1>Categories</h1>

<div class = "container">

    
    <div>
        <img src="assets/stationary.jpg" alt="stationery">
        <h2>Stationery</h2>
        <p>All stationery items such as books, pens, markers etc</p>
        <button (click) = "getProducts('STATIONERY')" routerLink = "/products" class = "cat-btn">View Products</button>
    </div>

    <div>
        <img src="assets/snacks.jpg" alt="snacks">
        <h2>Snacks</h2>
        <p>All snacks like chips, cookies, biscuits, etc</p>
         <button (click) = "getProducts('SNACKS')" routerLink = "/products"  class = "cat-btn">View Products</button>
    </div>

    <div>
        <img src="assets/soft-drink.jpg" alt="soft-drink">
        <h2>Beverages</h2>
        <p>All Beverages like soft drinks, milkshakes, cold coffee etc</p>
         <button (click) = "getProducts('BEVERAGES')" routerLink = "/products" class = "cat-btn">View Products</button>
    </div>
  

</div>


