img{
    height: 150px;
    width: 190px
    
}

.container{
    display: grid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(121, 115, 115,0.5);
    margin-top: 10px;
    margin-right: 20px;
    width: 300px;
    border-radius: 20px;

    
}

h2{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
    margin-top: 15px;
}

h4{
    color:whitesmoke;
}

.container:hover{
    background-color: black;

}

button{
    background-color: cadetblue;
    margin-top: 10px;
    width: 150px;
    height : 50px;
    border-radius: 10px;

}

button:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: blue;
    
}

.counter{
    margin-top: 10px;
}


.prod-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}