


<div class = "container">
<h2>Login </h2>

    <div>
        <form>
            <label for="Username"> Username : </label>
            <input type="text" for="Username" id="Username" #usernameInput (input) = "setUser(usernameInput.value)" placeholder="Username"> <br>

            <label for="Password">Password : </label>
            <input type="password" for = "Password" id="Password" #passwordInput (input) = "setPass(passwordInput.value)" placeholder="Password"> <br>

            <button  (click) = "loginFunc()" type="button">submit</button>
        </form>
        
        <br>

    </div>

    <div>
     <p>Or</p>
     <button class = "log-btn"><i class="fab fa-google"></i> Google</button> 
     <button class = "log-btn"><i class="fab fa-facebook"></i> Facebook</button>
    </div>

</div> 
