


<div class = "container">
<h2>Login </h2>

    <div>
        <form [formGroup]="loginForm" (ngSubmit) = "login()">
            <label for="Username"> Username : </label>
            <input type="text" for="Username" name = "Username" placeholder="Username"> <br>

            <label for="Password">Password : </label>
            <input type="password" for = "Password" name = "Password" placeholder="Password"> <br>

            <button type="submit">submit</button>
        </form>
        
        <br>

    </div>

    <div>
     <p>Or</p>
     <button class = "log-btn"><i class="fab fa-google"></i></button> 
     <button class = "log-btn"><i class="fab fa-facebook"></i></button>
    </div>

</div> 
