/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
}

body{
    background-image: url(assets/icons/zippy-background2.jpg);
    
    background-size: cover;        /* fills entire screen */
  background-position: center;   /* keeps image centered */
  background-repeat: no-repeat;  /* prevents tiling */
   
   
}